@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

html, body {
border:0;
margin:0;
padding:0;
}

body {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#262626;
background-image:url(images/body_bg.jpg);
background-repeat:repeat;
background-position:left top;
background-attachment:scroll;
}

/***** headings *****/

h3 {
font-size:16px;
padding:0px 0px 15px 0px;
margin:0px 0px 10px 0px;
color:#074a84;
font-weight:normal;
}

h2 {
color:#7b631d;
font-size:20px;
font-weight:normal;	
margin-bottom:20px;
padding:15px 20px;
}

h4 {
font-size:15px;
font-weight:normal;
}

h4 a {
color:#121212;
text-decoration:underline;
}

h4 a:hover {
color:#7c622c;
text-decoration:none;
}

h5 {
font-size:14px;
color:#000000;
font-weight:normal;
margin-left:20px;
padding-left:35px;
background:url(images/h5bullet.gif) no-repeat left center scroll;
line-height:50px; 
border-bottom:1px solid #dadada;
}

h6 {
font-size:14px;
color:#424242;
font-weight:normal;
margin:15px 20px;

}


/***** layout home *****/

#wrapper {
margin:0px auto;
width:1000px;
overflow:auto;
background-color:#FFFFFF;

}

#logo {
float:left;
width:1000px;
margin:0px;
padding:0px;

}

#nav {
float:left;
width:1000px;
margin:0px;
padding:0px;
text-align:right;
background-color:#262626;
padding:15px 0px;

}
	#nav ul{
	margin:0px;

	}
	#nav ul li {
	display:inline;
	color:#e6bd49;
	list-style-type:none;
	font-weight:bold;
	margin-right:20px;
	font-size:12px;
	}
	#nav ul li a {
	color:#FFFFFF;
	text-decoration:none;
	}
	#nav ul li a:hover {
	color:#e6bd49;
	text-decoration:none;
	}
	
#contentleft {
float:left;
margin:10px;
width:700px;
padding:0px;
}
#contentright {
float:left;
width:268px;
margin-top:10px;
margin-right:10px;
}
#contentleft p {
margin:20px;
}



#footer {
float:left;
width:1000px;
background-color:#eeeeee;
padding:30px 0px;
margin:0px;


}

#footer a {
color:#262626;
text-decoration:none;
margin:0px 5px;
}

#footer a:hover {
text-decoration:underline;
}

#footerleft {
float:left;
width:875px;
margin-left:24px;
}

#footerleft p {
line-height:20px;
margin:0px;
padding:0px;

}

#footerright {
float:left;
width:76px;
}


.rightboxes {
float:left;
width:238px;
background-color:#f7f7f7;
border:1px solid #dadada;
padding:15px;
margin-bottom:11px;
}

ul.list {
margin-bottom:20px;
padding:0px;
}

ul.list li{
margin-bottom:5px;
list-style-type:none;
background-attachment:scroll;
background-image:url(images/blue-icon.jpg);
background-repeat:no-repeat;
padding-left:20px;
background-position:left top;
}

/***** common *****/


.marginrite20 { margin-right:20px; }
.marginleft10px { margin-left:15px; }
.marginleft20 { margin-left:20px; }
.borderbottom { border-bottom:1px solid #dadada; }
.borderleft { border-left:1px solid #dadada; }


/***** Services Page *****/

#tableT {
margin-left:20px;
}
#tableT th {
padding:5px;
font-size:13px;
font-weight:bold;
color:#424242;
border-top:1px solid #dadada;
border-bottom:1px solid #dadada;
}
#tableT td {
padding:15px 10px ;

}
#tableT td img {
margin-right:10px;
margin-left:5px;
}

#contentleft a {
color:#121212;
text-decoration:underline;
}
#contentleft a:hover {
color:#7c622c;
text-decoration:none;
}


